@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&display=swap');

* {
	margin: 0px auto;
	padding: 0px;
}

#all {
	margin-top: 60px;
	width: 1024px;
}

.hd {
	text-align: left;
	margin: 20px;
	font-family: 'Lora','serif';
	font-size: 45px;
	height: 150px;
}

.hover{
	color : black;
}

#logo{
	width: 200px;
	height: 200px;
	margin-top: 0px;
}

#hdright-parent{
	margin: 75px auto 0px;
	float: right;
	width: 250px;
	height: 50px;
}

#footer1{
	margin: 0 auto;
	text-align: center;
}

.footer2{
	height: 40px;
	width: auto;
	margin: 30px 30px 15px;
}

.footer3{
	height: 40px;
	width: auto;
	margin: 0px 40px;
}

.hdrightson{
	color: pink;
	width: 150px;
	height: 50px;
	font-size: 30px;
	text-align: right;
	margin-left: 20px;
	top: 100px;
}

/* Animation Canvas */
.animation_canvas {
	overflow: hidden;
	position: relative;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
}

/* Slider Panel */
.slider_panel {
	width: 5000px;
	position: relative;
}

.slider_image {
	float: left;
	width: 1000px;
	height: 600px;
}

/* Slider Text Panel */
.slider_text_panel {
	position: absolute;
	top: 455px;
	left: 400px;
}

.slider_text {
	position: absolute;
	width: 200px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	color: #ffe991;
	background-color: #ff9e9e;
	text-align: center;
	font-family: 'Caveat', cursive;
	box-shadow: 8px 8px #ff8484;
}

/* Control Panel */
.control_panel {
	position: absolute;
	top: 510px;
	left: 470px;
	height: 13px;
	overflow: hidden;
}

.control_button {
	width: 12px;
	height: 46px;
	position: relative;
	float: left;
	cursor: pointer;
	background-image: url('../img/point_button.png');
}

.control_button:hover {
	top: -16px;
}

.control_button.active {
	top: -31px;
}
