/*가운데 정렬*/
form {
  text-align: center;
}

table {
  margin: 0px auto;
}

#firstline {
  text-align: right;
}

/*상하좌우 간격 설정*/
h1 {
  margin-bottom: 0px;
}

table {
  border-collapse: seperate;
  border-spacing: 5px 20px;
}

#buttons {
  margin-bottom: 20px;
}

/*전화번호 input, buttons 크기 조정*/
#phone>input {
  width: 45px;
}

input[type="button"]{
  width: 100px;
}

#confirmpwspan {
  font-size: 10px;
}
