@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/*가운데 정렬*/
*{
  font-family: 'Jua', sans-serif;
  text-align: center;
}
form {
  text-align: center;
  margin: 100px auto;
  width: 700px;
}

table {
  margin: 0px auto;
  border-collapse: seperate;
  border-spacing: 5px 20px;
}

tr {
  height: 20px;
  line-height: 20px;
}

td {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

#firstline {
  text-align: right;
}

input[type="text"], input[type="password"]{
  width: 200px;
  height: 20px;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid #8227db;
  margin: 0 10px;
  outline: none;
}

input::placeholder {
  opacity: 50%;
  padding: 5px;
}

/*상하좌우 간격 설정*/
h1 {
  width: 350px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  margin: 0px auto 20px;
  font-family: 'Harlow Solid Italic','Harlow Solid','serif';
  color: #8227db;
  font-size: 50px;
  background-color: #ffe991;
}


/*전화번호 input, buttons 크기 조정*/
#phone>input {
  width: 45px;
}

input[type="button"]{
  width: 100px;
}

.buttons{
  border: none;
}

.buttons:hover{
  background-color: #ffe991;
  cursor: pointer;
}

#confirmpwspan {
  font-size: 10px;
}

footer {
  margin-top: 20px;
}
