<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanul.mybatis.memberMapper.xml">
	<insert id="joinMember" parameterType="MemberDTO">	<!-- 파라미터 타입 생략 가능, 리절트타입 생략 불가 -->
		insert into boardMember
		values(#{member_id}, #{member_pw}, #{member_name}, #{member_age}, #{member_gender}, #{member_email})
	</insert>
	
	<select id="isMember" parameterType="MemberDTO" resultType="MemberDTO"> <!-- 파라미터로 값을 넘겨줄 때는 파라미터 타입을 입력해야 함 -->
		select * from boardMember where member_id = #{member_id}
	</select>
	
	<select id="idSearchAll" resultType="MemberDTO">
		select member_id from boardMember
	</select>
	
	<select id="getMember_AllList" resultType="MemberDTO">
		select * from boardMember
	</select>
	
	<delete id="deleteMember" parameterType="String">	<!-- 파라미터로 값을 넘겨줄 때는 파라미터 타입을 입력해야 함 -->
		delete from boardMember where member_id = #{member_id}
	</delete>
	
	<select id="getDetailMember" parameterType="String" resultType="MemberDTO">	<!-- 파라미터로 값을 넘겨줄 때는 파라미터 타입을 입력해야 함, 생략가능 -->
	<!-- isMember랑 같은 쿼리지만 파라미터 타입이 다르니까 따로 써줌 -->
		select * from boardMember where member_id = #{member_id}
	</select>
	
	<select id="getMember_pw" parameterType="String" resultType="String">
		select member_pw from boardMember where member_id = #{id}
	</select>
	
	<update id="updateMember" parameterType="MemberDTO">
		update boardMember set member_pw = #{member_pw}, member_name = #{member_name}, member_age = #{member_age}, member_gender = #{member_gender}, member_email = #{member_email} where member_id = #{member_id} 
	</update>
</mapper>